<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.piash.icaremanagement" >

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icarelogo"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.piash.icaremanagement.SplashScreen"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.piash.icaremanagement.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.piash.icaremanagement.CreateProfile"
            android:label="@string/title_activity_create_profile" >
        </activity>
        <activity
            android:name="com.piash.icaremanagement.AllService"
            android:label="@string/title_activity_all_service" >
        </activity>
        <activity
            android:name="com.piash.icaremanagement.MyDietChart"
            android:label="@string/title_activity_my_diet_chart" >
        </activity>
        <activity
            android:name="com.piash.icaremanagement.AddDietChart"
            android:label="@string/title_activity_add_diet_chart" >
        </activity>
        <activity
            android:name="com.piash.icaremanagement.ServiceOthers"
            android:label="@string/title_activity_service_others" >
        </activity>
        <activity
            android:name="com.piash.icaremanagement.NoteEditor"
            android:label="@string/title_activity_note_editor" >
        </activity>
        <activity
            android:name="com.piash.icaremanagement.NoteList"
            android:label="@string/title_activity_note_list" >
        </activity>
        <activity
            android:name="com.piash.icaremanagement.NoteView"
            android:label="@string/title_activity_note_view" >
        </activity>
        <activity
            android:name="com.piash.icaremanagement.NoteUpdate"
            android:label="@string/title_activity_note_update" >
        </activity>
        <activity
            android:name="com.piash.icaremanagement.ProfileView"
            android:label="Profile" >
        </activity>
        <activity
            android:name="com.piash.icaremanagement.UpdateProfile"
            android:label="Update profile" >
        </activity>

        <receiver android:name="com.piash.icaremanagement.AlarmReceiverDiet" />

        <activity
            android:name="com.piash.icaremanagement.DietView"
            android:label="@string/title_activity_diet_view" >
        </activity>
        <activity
            android:name="com.piash.icaremanagement.DietEdit"
            android:label="@string/title_activity_diet_edit" >
        </activity>
        <activity
            android:name="com.piash.icaremanagement.EmergencyCallView"
            android:label="@string/title_activity_emergency_call_view" >
        </activity>
        <activity
            android:name="com.piash.icaremanagement.EmergencyNumberAdd"
            android:label="@string/title_activity_emergency_number_add" >
        </activity>
        <activity
            android:name="com.piash.icaremanagement.EmergencyNumberEdit"
            android:label="@string/title_activity_emergency_number_edit" >
        </activity>
        <activity
            android:name="com.piash.icaremanagement.DoctorAdd"
            android:label="@string/title_activity_doctor_add" >
        </activity>
        <activity
            android:name="com.piash.icaremanagement.DoctorList"
            android:label="@string/title_activity_doctor_list" >
        </activity>
        <activity
            android:name="com.piash.icaremanagement.DoctorView"
            android:label="@string/title_activity_doctor_view" >
        </activity>
        <activity
            android:name="com.example.mrfarhad.icaremanagement.InsertHospitalAddress"
            android:label="@string/title_activity_insert_hospital_address" >
        </activity>
        <activity
            android:name="com.piash.icaremanagement.InsertHospitalAddress"
            android:label="@string/title_activity_insert_hospital_address" >
        </activity>
    </application>

</manifest>
